<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:fragment="title">Create Product</title>
</head>

<body>
    <section class="manager" layout:fragment="content">
        <div class="card border border-slate-300 rounded-md">
            <div class="card-header p-3">
                <h1>Create Product</h1>
            </div>
            <div class="card-body p-3 border-y border-slate-300">
                <form th:action="@{/products/create}" method="post" th:object="${productCreateDTO}"
                    enctype="multipart/form-data" class=" flex flex-wrap justify-between">
                    <div class="form-group mb-3 w-1/2 px-2">
                        <label for="name" class="block mb-2">Name</label>
                        <input type="text" id="name" name="name" class="w-full p-2 border border-slate-300 rounded-md">
                        <span class="text-red-500" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>
                    <div class="form-group mb-3 w-1/2">
                        <label for="category" class="block mb-2">Category</label>
                        <select name="categoryId" id="categoryId" title="Category"
                            class="w-full p-2 border border-slate-300 rounded-md">
                            <option>Select Category</option>
                            <option th:each="category: ${categories}" th:value="${category.id}"
                                th:text="${category.name}">
                            </option>
                        </select>
                        <span class="text-red-500" th:if="${#fields.hasErrors('categoryId')}"
                            th:errors="*{categoryId}"></span>
                    </div>
                    <div class="form-group mb-3 w-1/2 ms-1">
                        <label for="unitPrice" class="block mb-2">UnitPrice</label>
                        <input type="number" id="unitPrice" name="unitPrice"
                            class="w-full p-2 border border-slate-300 rounded-md" value="0"></input>
                        <span class="text-red-400" th:if="${#fields.hasErrors('unitPrice')}"
                            th:errors="*{unitPrice}"></span>
                    </div>
                    <div class="form-group mb-3 w-1/2 ms-1">
                        <label for="unitStock" class="block mb-2">UnitStock</label>
                        <input type="number" id="unitStock" name="unitStock"
                            class="w-full p-2 border border-slate-300 rounded-md" value="0"></input>
                        <span class="text-red-400" th:if="${#fields.hasErrors('unitStock')}"
                            th:errors="*{unitStock}"></span>
                    </div>
                    <div class="form-group mb-3 w-1/2 px-2">
                        <label for="imageFile" class="block mb-2">Image</label>
                        <input type="file" id="imageFile" name="imageFile"
                            class="w-full p-2 border border-slate-300 rounded-md">
                        <span class="text-red-500" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>
                    </div>
                    <div class="form-group mb-3 w-full flex justify-end gap-2">
                        <a th:href="@{/products}" class="p-2 px-4 bg-red-500 text-white rounded-full">Cancel</a>
                        <button type="reset" class="p-2 px-4 bg-yellow-500 text-white rounded-full">Reset</button>
                        <button type="submit" class="p-2 px-4 bg-green-500 text-white rounded-full">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>